<h1 style="font-family: Cuprum">My Portfolio</h1>

<div class="ui container">
<h3>Search for Stocks</h3>
  <div class="stock-lookup">
    <%= form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do %>
      <div class="ui form">
        <div class="ten wide column">
          <%= text_field_tag :stock, params[:stock], 
                                placeholder: "Stock ticker symbol", autofocus: true,
                                class: "seven wide field" %>
        </div><br>
          <div class="four wide column">
            <%= button_tag(type: :submit, class: "ui black button", id: "search-button") do %>
            <i class="search icon"></i> Look up a stock
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
<div id="results">
  <%= render 'users/result' %>
</div>



  

