@import "semantic-ui";

* {
  font-family: 'Cuprum', sans-serif;
}


#navbar {
  background: darkgreen;
  box-shadow: 2px 2px 7px rgba( 0, 0, 0, 0.5);
  font-size: 1.3em;
}

#logo {
  color: black;
  font-weight: bolder;
  font-style: oblique;
  text-transform: uppercase;
  letter-spacing: -1px;
}


.menu {
  background: rgba( 0, 0, 0, 0.5);
}

h1 {
  font-family: inherit;
  font-size: 4rem;
  letter-spacing: -1px;
  text-align: center;
  font-style: italic;
}

h3 {
  font-family: inherit;
}

#search-button {
  float: left;
}

#results-tag {

  background: olive;
  color: antiquewhite;
  font-size: 1.2em;
}

strong {
  text-transform: uppercase;
  color: rgba( 0, 0, 0, 0.6);
}

.field_with_errors {
  @extend .field;
  @extend .error;
}

.footer {
  border-top: 1px solid black;
  margin-top: 10%;
  text-align: center;
}